*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: black;
    background-image: url(../images/about-backer.jpeg);
    background-size: cover; /* Adjusts the background image size to cover the entire webpage */
    background-position: center; /* Centers the background image */
    background-attachment: fixed;
    height: 100vh;
}

.spacer {
    height: 80px;
    width: 100%;
    background-color: #7c674f;
}

.info {
    width: 800px;
    height: fit-content;
    border-width: 5px;
    border-style: solid;
    border-color: #4d0000;
    margin: auto;
    border-radius: 20px;
    margin-top: 75px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.6); /* Add shadow */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.yellow {
    background-color: #ddca5f;
}

.green {
    background-color: #db6565; 
}

.gray {
    background-color: #646464;
    text-align: center;
    padding-bottom: 5px;
}

h3 {
    font-size: 40px;
    text-align: center;
    color: #d6c4af;
    height: 60px;
    padding-top: 5px;
    background-color: #4d0000;
    
}

p {
    font-size: 25px;
    padding: 10px;
}

hr {
    border: none;
    border-top: 3px solid #4d0000;
}

i {
    font-size: 30px;
}