*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    background-image: url(../images/cart-backer.png);
    background-size: cover; /* Adjusts the background image size to cover the entire webpage */
    background-position: center; /* Centers the background image */
    height: 100vh;
}

.cart-head {
    height: 80px;
    width: 50%;
    justify-content: center;
}

h3 {
    color: #fcfafa;
    font-size: 50px;
    padding-top: 10px;
    font-family: monospace;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    text-shadow: 
    -2px 0 1px #000, 
    0 2px 1px #000, 
    2px 0 1px #000, 
    0 -2px 1px #000;
    letter-spacing: 5px;
}

#cart-items {
    margin-bottom: 20px;
}

.cart-item {
    background-color: #4d0000;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.568);
    margin-bottom: 10px;
    opacity: .8;
}

.cart-item p {
    margin: 5px 0;
    color: #fcfafa;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#cart-refresh {
    text-align: center;
    margin-top: 10px;
    width: 50%;
}

#refresh-btn {
    height: 30px;
    width: 160px;
    border: none;
    outline: auto;
    background: #b88700;
    color: #000000;
    font-size: 25px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#refresh-btn:hover {
    background: #c47500;
}

#cart-total {
    text-align: center;
    margin-top: 50px;
    width: 50%;
}

#cart-total p {
    color: #fcfafa;
    font-size: 25px;
    text-shadow:
    -2px 0 1px #000, 
    0 2px 1px #000, 
    2px 0 1px #000, 
    0 -2px 1px #000;
}

#total-price {
    font-weight: bold;
}

#checkout-btn {
    height: 60px;
    width: 300px;
    border: none;
    outline: none;
    background: #018800;
    color: #000000;
    font-size: 40px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#checkout-btn:hover {
    background: #00ad00;
}