*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    background-image: url(../images/login-backer.jpg);
    background-size: cover; /* Adjusts the background image size to cover the entire webpage */
    background-position: center; /* Centers the background image */
    height: 100vh;
}

.container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background-color: #7c674f;
    border-radius: 20px;
    border: #4d0000;
    border-width: 5px;
    border-style: solid;
    box-shadow: 0 0 20px rgb(255, 0, 0);
}

h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

p {
    margin: 5px;
}

/* Form container */
form {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Text input fields */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Submit button */
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4d0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #6e0000;
}

select {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none; /* Remove default arrow */
    background-position: right 10px top 50%;
    background-size: 10px auto;
}

/* Styling when the dropdown is open */
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

button {
    padding: 10px 20px;
    background-color: #4d0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6e0000;
}

.change-password {
    display: inline-block;
    margin-top: 10px;
    color: #470000;
    text-decoration: none;
}

.change-password:hover {
    text-decoration: underline;
}

.success-message {
    margin-top: 10px;
    padding: 10px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    color: #155724;
}

.error-message {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    color: #721c24;
}

#logoutButton {
    margin-left: 22%;
}