*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: black;
    background-image: url(../images/menu-backer.jpg);
    background-size: cover; /* Adjusts the background image size to cover the entire webpage */
    background-position: center; /* Centers the background image */
    background-attachment: fixed;
    height: 100vh;
}

.container {
    width: 80%;
    min-width: 340px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(189, 183, 165);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Item details section */
#item-details {
    margin-bottom: 20px;
}

/* Form section styling */
form {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
}

form > div {
    flex: 1 1 45%;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: no-repeat right 10px center;
    background-size: 12px;
}

#billing-delivery-same-label {
    margin: 0 0 0 0;
}

/* Card details styling */
#card-details input {
    margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Order summary section */
#order-summary {
    flex: 1 1 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

#order-summary p {
    font-size: 1em;
    color: #555;
}

/* Button styling */
#checkout-btn {
    width: 175px;
    text-align: center;
    margin: 10px auto;
}

button {
    background-color: #f0c14b;
    border: 1px solid #a88734;
    padding: 10px 20px;
    font-size: 1em;
    color: #111;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
}

button:disabled {
    background-color: #e7e7e7;
    border-color: #cccccc;
    cursor: not-allowed;
}

button:not(:disabled):hover {
    background-color: #ddb347;
}