*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    background-image: url(../images/login-backer.jpg);
    background-size: cover; /* Adjusts the background image size to cover the entire webpage */
    background-position: center; /* Centers the background image */
    background-attachment: fixed;
    height: 100vh;
}

/* Main content container styles */
.page-container {
    display: flex;
	width: 90%;
	height: 80%;
    margin: auto; /* Adjust margin as needed */
}

/* Column styles */
.column {
    padding: 20px;	
	width: 420px;
	height: 800px;
    background-color: #dbc4aa;
    border-radius: 8px;
	border: #4d0000;
	border-style: solid;
	border-width: 5px;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column h3 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.column p {
    margin-bottom: 15px;
}

/* Map image styles */
.map-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Promotional image styles */
.promo-image {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
	border: #4d0000;
	border-style: solid;
	border-width: 5px;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 1400px) {
    .page-container {
        flex-direction: column;
        align-items: center;
    }

    .column {
        margin: 10px 0;
    }

    .column:nth-child(2) {
        order: -1; /* Make the second column appear first */
    }
}